<!DOCTYPE html>
<html lang="en">


<%- include("../partials/head")%>


<body>

    <%- include("../partials/header")%>

    <main class="pageProdDetail mainDetail">
        <div>
        <div class="productPresentation">
            <div class= "imgProduct">
                <img class="imagenDetalle" src="/img/products/<%= (productDetail.image == null) ? 'product-default.png' : productDetail.image %>"
                    alt="imagen del producto" >
            </div>
            <div class="prodSpecification">
                <div class="prodNPD">
                    <h2 class="prodNPD"><%= productDetail.name %></h2>
                    <h3 class="prodPrice">Precio: $ <%= toThousand(productDetail.price) %></h3>
                    <h3 class="prodDiscount">Descuento: <%= productDetail.discount %> %</h3> 
                    <div class="controldelformulariodetail">
                        <label>Talle: <%= productDetail.sizes.size %> </label>

                        
                    </div>
    
    
                    <div class="controldelformulariodetail">
                        <label>Color:  <%= productDetail.colors.color %></label>
                       
                    </div> 
                </div>

                
                <div>
                    <button class="buyButton">COMPRAR</button>
                </div>
            </div>
        </div>
        </div>
        <div class="prodDescription">
            <h3 class="prodNPD">Descripcion del Producto</h3>
            <p class="textProdDetail"><%= productDetail.description %></p>
        </div>
        
        
       
    </div>
    <% if (locals.userLogged  && userLogged.user_type == 1) {%>	
    <div><a href="/products/<%= productDetail.id %>/edit" class="action-buttonEdit">EDITAR PRODUCTO</a></div>
<!-- Container -->
    <% } else {%>
    <div><h4 class="prodNPD">Producto creado por el administrador</h4></div>
<!-- Container -->
    <% } %>

</main>

    <%- include("../partials/footer")%>


</body>