<!DOCTYPE html>
<html lang="en">


<%- include("../partials/head")%>


<body>

    <%- include("../partials/header")%>
    <main>
        <H2>Edita el Producto</H2>

        <form action="/products/<%= productToEdit.id %>/?_method=PUT" class="createform" method="POST"
            enctype="multipart/form-data" id="create-form">
            <div class="controldelformulario">
                <label>Nombre del Producto</label>
                <% console.log(productToEdit.name) %>
                <input type="text" name="name" class="control" id="name-field" value="<%= productToEdit.name %>">
                
                <div class="text-danger" id="name-error"></div>
                <% if (locals.errors && errors.name) { %>
                    <div class= 'text-danger'>
                        <%= errors.name.msg %>
                    </div>
                <% } %>
            </div>

            
            <div class="tituloImagen" >Imagen del producto</div>  
             

            <div class="imagenProductoEdit">
                     
                
                <img class="imagenProductoDetalle" src="/img/products/<%= (productToEdit.image == null) ? 'product-default.png' : productToEdit.image %>"
                    alt="imagen del producto" >
                
                    <!-- <p class="controldelformularioEditOption">
                        <input type="radio" name="editar-imagen" value="editar">
                        <label for="EdicionImagen">EDITAR IMAGEN</label>
                    </p>                                       -->

            </div>


            <div class="controldelformularioImagenEdit">
                <label>Seleccionar una imagen para el Producto:</label>
                <input type="file" name="image" accept=".jpg" class="control" id="image-field">
                <!-- <div><%=productToEdit.image%> </div> -->
                <div class="text-danger" id="image-error"></div>
                <% if (locals.errors && errors.image) { %>
                    <div class= 'text-danger'>
                        <%= errors.image.msg %>
                    </div>
                <% } %>
            </div>

            <div class="controldelformulario">
                <label>Precio</label>
                <input type="number" name="price" placeholder="123,45" class="control"
                    value=<%= toThousand(productToEdit.price) %>>

            </div>
            <div class="controldelformulario">
                <label>Descuento % </label>
                <input type="number" name="discount" placeholder="30%" class="control"
                    value=<%= productToEdit.discount %>>
            </div>


            <div class="controldelformulario">
                <label>Código Talle</label>
                
                <select name="size"  class="control">
                    <option selected value=<%= productToEdit.size_id%>> <%=productToEdit.sizes.size%> </option>   
                    <% sizes.forEach (function(id,i) { %> 
                    <option value=<%= sizes[i].id %>> <%= sizes[i].size %> </option>   
                    <% }) %>
                    </select>
            </div>
    
           
            <div class="controldelformulario">
                <label>Código Color</label>
                    <select name="color"  class="control">
                    <option selected value=<%= productToEdit.color_id %>> <%=productToEdit.colors.color%> </option>   
                    <% colors.forEach (function(id,i) { %> 
                    <option value=<%= colors[i].id %>> <%= colors[i].color %> </option>   
                    <% }) %>
                    </select>
    
            </div>
            
            
            <div class="controldelformulario">
                <label for="Categorias">Categorías</label>
                <% categories.forEach (function(id,i) { %> 
                    
                <div class= "checkbox-edit"><input type="checkbox" name="Categorias" value=<%= categories[i].id %>> <%= categories[i].name %>
                </div>
                <% }) %>    
            </div>           


            <div class="controldelformulario">
                <label for="description">Descripción del Producto</label>
                <textarea name="description" id="description-field" cols="30" rows="10"
                    class="control"><%= productToEdit.description %></textarea>
                <div class="text-danger" id="description-error"></div>
                <% if (locals.errors && errors.description) { %>
                    <div class= 'text-danger'>
                        <%= errors.description.msg %>
                    </div>
                <% } %>
            </div>



            <div class="controldelformulario">
                <button type="submit">Guardar</button>
                <a class="button" href="/">Cancelar</a>
            </div>
        </form>

        <form class= "erase-button" action="/products/<%= productToEdit.id %>/?_method=DELETE" method="POST" enctype="multipart/form-data">
            <button class="ButtonMalo" type="submit">Eliminar</button>
        </form>



    </main>

    <%- include("../partials/footer")%>

    <script src="/js/productEdit.js"></script>

</body>