<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>


<body>
    <%- include("../partials/header")%>

   
    <main class="index-main">
        <div class= "h3-home">
            <h3>Lista de productos</h3>
        </div>

      
        <section>
            <% products.forEach (function(id,i) { %>
           <article class="producto-oferta">
             
            
            <a href="/products/detail/<%= products[i].id %>"><img class="imgProd" src="/img/products/<%= (products[i].image == null) ? 'product-default.png' : products[i].image %>"></a>
                <div class= "caja-productos">
                    <i class="fas fa-piggy-bank pig-sale"></i>
                    <p class="titulo-producto"><%= products[i].name %></p>
                    <div class="valores-oferta">
                        <p class="precio">$ <%= toThousand(products[i].price) %> <span class="descuento"><%= products[i].discount %>% OFF</span></p>
                    </div>
                    <div class="descripcion"><%= products[i].description %></div>
                </div>
              
            </article> 
            <% }) %>
        </section>

        
    </main>

    <%- include("../partials/footer")%>
</body>

</html>