<!DOCTYPE html>
<html lang="en">
    
    <%- include("../partials/head")%>


<body>
    
    <%- include("../partials/header")%>
    
    <main>
        <form id="form-login" action="/users/login" method="POST">
            
            <div class="errores">
                <ul></ul>
            </div>
            
            <div class="form-login">
                <div class="input-group">
                    <span><i class="fas fa-at"></i></span>
                    <input id="test-email" class="form-input" type="text" name= "email" placeholder="Email" value="<%= locals.oldData ? oldData.email : null %>">
                </div>
                <div class="text-danger" id="email-error"></div>
                <div class="errorMsg">   
                    <% if (locals.errors && errors.email) { %>
                        <div class= 'text-danger'>
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>
            
                <div class="input-group">
                    <span><i class="fas fa-lock"></i></span>
                    <input id="test-password" class="form-input" type="password" name= "password"  placeholder="Contraseña">
                </div>
                <div class="text-danger" id="password-error"></div>
                
                <div class="errorMsg">  
                    <% if (locals.errors && errors.password) { %>
                        <div class= 'text-danger'>
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                </div>

                <div>
                    <input type="checkbox"  name="remember_user"> Recordar mi usuario
                </div> 
                <BR><BR>

                <div>
                    <button class="form-submit-button" type="submit">Iniciar Sesión</button>
                </div>
            </div>
        </form>
    </main>


    <%- include("../partials/footer")%>
    <script src="/js/login.js"></script> 
</body>