<!DOCTYPE html>
<html lang="es">
 <%- include("../partials/head")%>
<body>
	<%- include("../partials/header")%>
    <main class="pageProdDetail mainDetail">
        <div>
			<div class="col-md-3">
				<h2> Hola <%= userDetail.first_name %>  <%= userDetail.last_name %></h2>
			</div>	
        <div class="productPresentation">
            <div class= "imgProduct">
                <img class="imagenDetalle" src="/img/users/<%= userDetail.avatar %>"
                    alt="imagen del producto" >
            </div>
            <div class="prodSpecification">
                <div class="prodNPD">
                    
                    <h3 class="prodPrice">E-mail: <%= userDetail.email %> </h3>
                    <h3 class="prodDiscount">Tipo de Usuario: <% if (userDetail.user_type == 1) {%> "Sos el Administrador" 
						<% } else {%>
						"Usuario habilitado para comprar"
					<!-- Container -->
					<% } %></h3> 
							
					 
				<% if (req.session.user_type == 1) {%>	
					<!-- Deberiamos en este botton de abajo poner que si el user_type es 0, entonces no pueda ir a crear -->
					<!-- Deberia ser en la ruta del create  -->
					<div class="botonesDelAdmin">
					<div ><a href="/http://localhost:3000/dashboard" class="action-buttonEditProfile">DASHBOARD</a></div>
					<div ><a href="/products/create" class="action-buttonEditProfile">CREAR PRODUCTO</a></div>
					<% } else {%>
					</div>
						<div class="prodNPD"><h2>Para Crear productos contactar al administrador</h2></div>
					<!-- Container -->
					<% } %>
				
				</div>
                    
			</div>
		

		</div>
	</div>
	</div>
	<div class="prodDescription">
		<h3 class="prodNPD">Descripcion del Usuario</h3>
		<p class="textProdDetail"></p>
		
	</div>
	
</div>

<!-- Container -->


</main>	
<!-- Container -->



<%- include("../partials/footer")%>
</body>
</html>